In [40]:
from target_encoder import TargetEncoder
from sparse_onehot_encoder import RobustOneHotSparse
from sklearn import datasets
import pandas as pd
import numpy as np

In [31]:
iris_data = datasets.load_iris()
data = pd.DataFrame(iris_data.data, columns=iris_data.feature_names)
data['cat_col'] = np.random.randint(100, size = data.shape[0])
data['cat_col'] = data['cat_col'].astype('category')
data['target'] = pd.Series(iris_data.target)
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),cat_col,target
0,5.1,3.5,1.4,0.2,90,0
1,4.9,3.0,1.4,0.2,38,0
2,4.7,3.2,1.3,0.2,26,0
3,4.6,3.1,1.5,0.2,49,0
4,5.0,3.6,1.4,0.2,17,0

In [32]:
oh_enc = RobustOneHotSparse()
t_enc = TargetEncoder(type = 'categorical')

In [33]:
oh_enc.fit(data, columns = 'cat_col')
t_enc.fit(data, columns = 'cat_col', target = 'target')

In [34]:
t_enc.transform(data)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),cat_col,target,cat_col__target__0.0,cat_col__target__1.0,cat_col__target__2.0,cat_col__target__nan
0,5.1,3.5,1.4,0.2,90,0,0.500000,0.000000,0.500000,0.0
1,4.9,3.0,1.4,0.2,38,0,0.666667,0.333333,0.000000,0.0
2,4.7,3.2,1.3,0.2,26,0,0.333333,0.666667,0.000000,0.0
3,4.6,3.1,1.5,0.2,49,0,0.250000,0.500000,0.250000,0.0
4,5.0,3.6,1.4,0.2,17,0,1.000000,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,10,2,0.000000,0.000000,1.000000,0.0
146,6.3,2.5,5.0,1.9,0,2,0.000000,0.000000,1.000000,0.0
147,6.5,3.0,5.2,2.0,1,2,0.500000,0.000000,0.500000,0.0
148,6.2,3.4,5.4,2.3,70,2,0.000000,0.000000,1.000000,0.0
149,5.9,3.0,5.1,1.8,61,2,0.333333,0.333333,0.333333,0.0

# Testar com novos valores

In [38]:
data['cat_col'] = np.random.randint(100, size = data.shape[0])
t_enc.transform(data)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),cat_col,target,cat_col__target__0.0,cat_col__target__1.0,cat_col__target__2.0,cat_col__target__nan
0,5.1,3.5,1.4,0.2,50,0,0.333333,0.666667,0.0,0.0
1,4.9,3.0,1.4,0.2,59,0,0.000000,1.000000,0.0,0.0
2,4.7,3.2,1.3,0.2,9,0,NaN,NaN,NaN,NaN
3,4.6,3.1,1.5,0.2,97,0,0.000000,0.000000,1.0,0.0
4,5.0,3.6,1.4,0.2,64,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,30,2,0.000000,0.000000,1.0,0.0
146,6.3,2.5,5.0,1.9,12,2,0.000000,0.400000,0.6,0.0
147,6.5,3.0,5.2,2.0,73,2,0.000000,1.000000,0.0,0.0
148,6.2,3.4,5.4,2.3,89,2,NaN,NaN,NaN,NaN
149,5.9,3.0,5.1,1.8,26,2,0.333333,0.666667,0.0,0.0